### 42. Deduktivní verifikace anotovaných programů.

----------------------------------------

- Rok:
- Zkoušel:
- Známka:
- Komentář:

----------------------------------------
