### 41. Verifikace pomocí symbolického provádění.

----------------------------------------

- Rok:
- Zkoušel:
- Známka:
- Komentář:

----------------------------------------